@font-face {
  font-family: "Pixelify Sans";
  src: url("./assets/fonts/PixelifySans-VariableFont_wght.ttf") format("truetype");
}

* img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}



